body {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    background: none repeat scroll 0 0 #f1f1f1;
}

#caber {
    width:60%;
    height: 600px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    color: whitesmoke;
    background-image: url("https://1.bp.blogspot.com/-q9XEOxUvI8o/Xd3OJ0qfggI/AAAAAAAAgdg/WyEFyh1vUd8v0mEu6UrrPmrqtSaeFxFXACLcBGAsYHQ/s2560/space-colorful-art-4k-a4-2560x1440.jpg");
    background-repeat: no-repeat;
}
#caber h1 {
    color: goldenrod;
    text-align: center;
}
#opcoes li {
    list-style-type: none;
    display: inline;
    margin: 2%;
    
}
#opcoes li button {
    background-color: lightskyblue;
    border-radius: 30px 15px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
#comecar {
    margin-right: 50%;
    margin-left: 50%;
}
#verificar {
    background-color: lightseagreen;
    border-radius: 50px 80px;
    color: whitesmoke;
}
#temas_algebra li{
    list-style-type: none;
    display: inline;
}
#temas_algebra li button {
    background-color: lightskyblue;
    border-radius: 30px 15px;
    width: 30%;
  
}
#aula{
    width: 80%;
}
#comentario{
    margin-left: 35%;
    
    margin-top: 1%;
    width: 30%;
    height: 120px;
    font-size: 120%;
}
#titulo{
    text-align: center;

}
#area_comentario li{
    list-style-type: none;
    border-bottom: 1px solid black;
}
#pontuacao{
    font-size: 150%;
    color: cornflowerblue;
}
#acertou{
    border: none;
    color: cornflowerblue;
    font-size: 150%;
}
